@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.App {
  color: #212121;
  font-family: 'Righteous', cursive !important;
  display: grid;
  place-items: center;
}

body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  background: linear-gradient(140deg, rgb(104, 250, 201) 35%, rgb(34, 207, 255)50%);
}

.home-head {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 40px;
  color: rgb(224, 255, 245);
}

.home-head-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.home-head-body h3 {
  font-weight: 900;
  font-size: 40px;
  color: rgb(224, 255, 245);
}
.home-head-body input {
  width: 225px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.home-head-body button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.home-head-body button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 95%;
  height: 100%;
}

.chat-window p {
  margin: 0;
}
.chat-header {
  width: 100%;
  height: max-content;
  cursor: pointer;
}
.chat-header p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  color: #006e53;
  font-size: x-large;
  font-weight: 700;
  line-height: 45px;
}

.chat-body {
  height: calc(450px - (45px + 70px));
  width: 100%;
  background: transparent;
  position: relative;
}

.chat-background {
  background-color: rgba(0, 0, 0, 0.2); 
}

.message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message-container::-webkit-scrollbar {
  width: 0;
  background: transparent; 
}

.message-container {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; 
}

.message-container:hover {
  scrollbar-width: thin;
  scrollbar-color: #aaa #ddd; 
}

.message {
  height: auto;
  width: 80%;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: 100%;
  height: auto;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-footer {
  border: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-top: 20px;
  background-color: #f0f0f0;
}

.chat-footer input {
  flex: 1;
  margin-right: 10px;
  font-size: 1em;
  font-family: 'Righteous', cursive !important;
  bottom: 0px;
}

.chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  height: 100%;
  background: white;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}